.Group6{
	  	height:500px;
	  	background: url('../images/h24.png') no-repeat;
	  	.title{
			float:right;
			h2{
				color:#DEB37E;
				margin-top:150px;
				margin-right:50px;
				font-size:70px;
				
			}
			h1{
				color: #54524f;
				font-size:50px;
				
			}
			}
	  }
	  .Group7{
	  	background: url('../images/h44.png') no-repeat;
	  	height:400px;
	  	.container{
	  		height:200px;
	  	  	.row{
	  		margin-top:50px;
	  		h3{
	  			color: #DEB37E;
	  			font-size:30px;
	  		}
	  		p{
	  			margin-top:20px;
	  			font-size:15px;
	  		}
	  	}
	  	.title{
	  		height:300px;
	  		margin-top:50px;
	  		h1{
	  			font-size:50px;
	  		}
	  	}
	  	}
	}
	.Group8{
		width: 100%;
		height:300px;
		background: url('../images/h33.png') no-repeat;
		.title{
			h1{
				margin-top:50px;
	  			font-size:40px;
	  			color: #FFF;
	  		}
	  		input{
	  			width:300px;
	  			height:50px;
	  			border-radius:25px;
	  		
	  		}
	  		.btn{
	  			width:100px;
	  			height: 50px;
	  			boder-radius:25px;
	  		}
		}
	}
	.Group9{
		background: url('../images/h27.png') no-repeat;
		.container{
			.row{
			margin-top:100px;	
			}
			.title1{
				color: #FFF;
			}
			.title2{
				color: #FFF;
				a{
					color: #FFF;
				}
			}
			.title3{
				color: #FFF;
				a{
					color: #FFF;
				}
			}
			.title4{
				color: #FFF;
				a{
					color: #FFF;
				}
			}
			}
	}
