$color_main: #745a82;
.nhom8{
	background: url('../images/h21.png') no-repeat;
}
.Group1 {
	a{
   text-decoration: none;
  color:#A0522D;
  font-size:20px;
  margin-right:20px;
		}
		}
	.Group2{
		height:800px;
		background: url('../images/h11.png') no-repeat;
		.title{
			margin-left:100px;
		h1{
			margin-top:300px;
			color:#deb37d;
			font-size:50px;
			}
		h6{
			font-size:30px;
			color:#74726f;
		}
		.btn{
			margin-top:30px;
			width:150px;
			height:50px;
			border-radius:12px solid black;
			background:white;
		}
		p{
			font-size:20px;
		}
	}
	}
	.Group3{
		background: url('../images/h22.png') no-repeat;
		.container{
			.row{
				
				.title1{
					width:30%;
					img{
						width: 100%;
						height:300px;
					}
					.noidung{
						width: 100%;
						height:100px;
						background:#7f7770;
						color: #FFF;
						h3{
							margin-left:20px;
						}
						p{
							margin-left:20px;
						}
					}
					}
				.title2{
					width:30%;
					margin-left:35px;
					img{
						width: 100%;
						height:300px;
					}
					.noidung{
						width: 100%;
						height:100px;
						color: #FFF;
						background:#7f7770;
						h3{
							margin-left:20px;
						}
						p{
							margin-left:20px;
						}
					}
				}
				.title3{
					width:30%;
					margin-left:35px;
					img{
						width: 100%;
						height:300px;
					}
					.noidung{
						color: #FFF;
						width: 100%;
						height:100px;
						background:#7f7770;
						h3{
							margin-left:20px;
						}
						p{
							margin-left:20px;
						}
					}

				}
			}
			}
		h1{
			color:#deb37d;
			font-size:50px;
			}
			.title{
				.btn{
				margin-top:20px;
				background:#7f7770;
			}
			}
		}
	.Group4{
		height:1000px;
		margin-top:100px;
		.img{
			float: left;
			width:50%;
			height:500px;
			img{
				width:100%;
				height: 500px;
			}
		}
		.title{
			float:left;
			width:50%;
			height:500px;
			background:#696969;
			
			h1{
				margin-top:50px;
				margin-left:50px;
				color: #FFFFFF;
			}
			p{
				margin-left:50px;
				color: #FFFFFF;
			}
			.btn{
			margin-top:30px;
			width:200px;
			height:50px;
			border-radius:200px solid black;
			background:#F4A460;
			margin-left:50px;
		}
		}
		}
		.Group5{
			height:500px;
		    background: url('../images/H23.png') no-repeat;
		.title{
			color: #FFFFFF;
		h1{

			margin-top:100px;
			font-size:50px;
		}
		p{
			margin-top:20px;
			font-size:25px;
		}
		}
		}
	  .Group6{
	  	height:500px;
	  	background: url('../images/h24.png') no-repeat;
	  	.title{
			float:right;
			h2{
				color:#DEB37E;
				margin-top:150px;
				margin-right:50px;
				font-size:70px;
				
			}
			h1{
				color: #54524f;
				font-size:50px;
				
			}
			}
	  }
	  .Group7{
	  	background: url('../images/h44.png') no-repeat;
	  	height:400px;
	  	.container{
	  		height:200px;
	  	  	.row{
	  		margin-top:50px;
	  		h3{
	  			color: #DEB37E;
	  			font-size:30px;
	  		}
	  		p{
	  			margin-top:20px;
	  			font-size:15px;
	  		}
	  	}
	  	.title{
	  		height:300px;
	  		margin-top:50px;
	  		h1{
	  			font-size:50px;
	  		}
	  	}
	  	}
	}
	.Group8{
		width: 100%;
		height:300px;
		background: url('../images/h33.png') no-repeat;
		.title{
			h1{
				margin-top:50px;
	  			font-size:40px;
	  			color: #FFF;
	  		}
	  		input{
	  			width:300px;
	  			height:50px;
	  			border-radius:25px;
	  		
	  		}
	  		.btn{
	  			width:100px;
	  			height: 50px;
	  			boder-radius:25px;
	  		}
		}
	}
	.Group9{
		background: url('../images/h27.png') no-repeat;
		.container{
			.row{
			margin-top:100px;	
			}
			.title1{
				color: #FFF;
			}
			.title2{
				color: #FFF;
				a{
					color: #FFF;
				}
			}
			.title3{
				color: #FFF;
				a{
					color: #FFF;
				}
			}
			.title4{
				color: #FFF;
				a{
					color: #FFF;
				}
			}
			}
	}
